/Homework/nbproject/private/
/Homework/build/
/leducphi/nbproject/private/
/leducphi/build/
/PRO192/dist/
/LAB345/nbproject/private/
/LAB3_4_5/nbproject/private/
/LAB3_4_5/build/
/LAB3/nbproject/private/
/LAB3/build/
/LAB4/nbproject/private/
/LAB4/build/
/LAB4/dist/
/LAB3/dist/
/nhap/nbproject/private/
/nhap/build/
/LAB5/nbproject/private/
/Assignment/nbproject/private/
/DEMO_ASM/nbproject/private/
/Demo_Assignment2/nbproject/private/
/PE_Trial/nbproject/private/
/Demo_Assignment2/build/
/Demo_Assignment2/dist/
/DEMO_ASM/build/
/TestTrial/nbproject/private/
/TestTrial/build/